@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter18pt-Regular.woff2') format('woff2'),
        url('../fonts/Inter18pt-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ReadexPro';
    src: url('../fonts/ReadexPro-Regular.woff2') format('woff2'),
        url('../fonts/ReadexPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

