:root {
   --general-text:#1F1711;
   --accent-text:#312C27;
   --general-bg:#FFF9F4;
   --accent-bg: #FFE0CB;
   --accent-color: #FFA55C;
   --transition: all .4s;
   --borderradius: 20px;
}

.body {
   font-family: "Montserrat", Arial, sans-serif ;
   line-height: 1.5;
   font-size: 16px;
   color: var(--general-text);
   background: var(--general-bg);
}
.body--opened-menu{
   overflow: hidden;
}
.body--opened-modal{
   overflow: hidden;
}
.wrapper {
   min-height: 100%;
   width: 100%;
   overflow: hidden;
   display: flex;
   flex-direction: column;
}
.main {
   flex-grow: 1;
   margin-bottom: 20px;
}
.main__about {
   padding: 140px 0;
}
.main__program {
   margin-bottom: 145px 0;
}
.container {
   max-width: 1310px;
   margin: 0 auto;
   padding: 0 15px;
   height: 100%;
}
.title {
   font-family: "Gabriola";
   font-size: 72px;
   line-height: 0.82;
   color: var(--general-text);
}
.button{
   width: 100%;
   justify-content: center;
   align-items: center;
   display: flex;
   background: var(--accent-color);
   font-size: 16px;
   font-weight: 500;
   line-height: 1.6;
   border-radius: 100px;
   padding: 3px 15px;
   height: 62px;
}
.button:hover{
   background: #FF9138;
}

.modal {
   position: fixed;
   inset: 0;
   background-color: #00000058;
   z-index: 10;

   display: flex;
   align-items: center;
   justify-content: center;

   opacity: 0;
   visibility: hidden;
   transition: all .6s;
   padding: 15px;
}
.body--opened-modal .modal {
   opacity: 1;
   visibility: visible;
}
.modal__window {
   position: relative;
   background-color: var(--general-bg);
   border-radius: var(--borderradius);
   padding: 0 60px 60px;
   max-width: 428px;

}
.modal__cancel {
   position: absolute;
   top: 20px;
   right: 20px;
}
.modal__cancel path {
   transition: var(--transition);
}
.modal__cancel:hover path,
.modal__cancel:hover rect {
   stroke: #AC907A;
}
.modal__img {
   margin: -65px 0 15px 13px;
}
.modal__title {
   font-Family: "Gabriola";
   font-size: 42px;
   line-height: .90;
   color: var(--accent-text);
   margin-bottom: 10px;
}
.modal__text {
   margin-bottom: 30px;
}
.modal__form-lable {
   margin-bottom: 10px;
}
.field {
   position: relative;
   display: block;
}
.field span {
   position: absolute;
   top: 12px;
   left: 28px;
   font-size: 11px;
   color: #Ac907a;

   opacity: 0;
   visibility: hidden;
   transition: var(--transition);
}
.field__input {
   border: 1px solid var(--accent-text);
   border-radius: 100px;
   padding: 19px 42px 19px 28px;
   width: 100%;
   display: block;
   background: #00000000;
   font-size: 16px;
   transition: var(--transition);
}
.field__input:hover {
   border-color: var(--accent-color);
}
.field__input::placeholder {
   color: #Ac907a;
   transition: var(--transition);
}
.field__input:hover::placeholder {
   color: var(--accent-color);
}

.field__input:focus {
   padding: 26px 42px 12px 28px;
}
.field__input:focus + span {
   opacity: 1;
   visibility: visible;
}

/* ===================HEADER===================== */
.header{
   background: url(../img/decor/header.png) 50% 100%/ cover no-repeat;
}
.header__top {
   padding-top: 19px;
}
.header__top-inner {
   display: flex;
   justify-content: space-between;
   align-items: flex-end;
}
.header__logo{
   max-width: 174px;
   z-index: 11;
}
.header__logo img{
   width: 100%;
}

.nav__list {
   display: flex;
   gap: 4vh 40px;
}
.nav__item {
   display: flex;
   gap: 4vh 40px;
   
}
.nav__link {
   padding: 5px 0;
   display: block;
   position: relative;
   z-index: 1;
}
.nav__link::before {
   content: '';
   position: absolute;
   top: -8px;
   left: -8px;
   width: 34px;
   height: 34px;
   background: var(--accent-color);
   border-radius: 50%;
   z-index: -1;
   opacity: 0;
   transition: var(--transition);
}
.nav__link:hover:before {
   opacity: 1;
}

.burger__icon{
   display: none;
   width: 50px;
   height: 50px;
   align-items: center;
   justify-content: center;
   z-index: 11;
   
}
.burger__icon span,
.burger__icon span::before,
.burger__icon span::after { 
   display: block;
   width: 30px;
   height: 3px;
   border-radius: 100px;
   background-color: var(--general-text);
   transition: var(--transition) ;
}
.burger__icon span {
   position: relative;
}

.burger__icon span::before,
.burger__icon span::after {
   content: '';
   position: absolute;
}
.burger__icon span::before {
   top: -8px;
}
.burger__icon span::after {
   bottom: -8px;
}
.body--opened-menu .burger__icon span {
   background-color: transparent;
}
.body--opened-menu .burger__icon span::before {
   transform: rotate(45deg);
   top: 0;
}
.body--opened-menu .burger__icon span::after {
   top: 0;
   transform: rotate(-45deg);
}
.header__hero {
   padding: 50px 0 140px;
}
/* ====================================== */


.hero__inner {
   display: flex;
   justify-content: space-between;
   align-items: flex-end;
   gap: 30px;
}
.hero__content {
   max-width: 519px;
}
.hero__info {
   color: #B197B2;
   margin-bottom: 20px;
   text-transform: uppercase;
   line-height: 1.6;

   display: flex;
   flex-wrap: wrap;
}
.hero__info span {
display: flex;
align-items: center;
font-family: var(--font-family);
font-weight: 400;
font-size: 16px;
line-height: 160%;
text-transform: uppercase;
color: #b197b2;
}

.hero__info span::after {
   content: '';
   background-color: #B197B2;
   border-radius: 50px;
   width: 4px;
   height: 4px;
   margin: 0 10px;

}
.hero__info span:last-child:after {
   content: none;
}
.hero__title {
   margin-bottom: 30px;
}
.hero__text {
   margin-bottom: 40px;
   max-width: 358px;
   font-family: var(--font-family);
   font-weight: 400;
   font-size: 16px;
   line-height: 150%;
   color: var(--accent-text);

}
.hero__button {
   max-width: 360px;
   width: 100%;
}
.hero__img {
   margin-right: 247px;
   position: relative;
}
.hero__img>img {
   width: 100%;
}
.hero__img-control {
   position: absolute;
   bottom: 11%;
   left: calc(100% - 39px);
   align-items: center;
   display: flex;
   gap: 10px;
   min-width: 200px;
   text-align: left;
}

.hero__img-control--mobile{
   display: none;
}
.hero__img-button {
   flex-shrink: 0;
   display: flex;
   align-items: center;
   justify-content: center;
   width: 78px;
   height: 78px;
   border-radius: 100%;
   background: #FFE0CB;
   box-shadow: 0 4px 20px 0 rgba(184, 148, 126, 0.3);
   position: relative;
}
.hero__img-button img {
   padding-left: 8.8%;
}
.hero__img-button::before {
   content: '';
   position: absolute;
   border: 1px solid var(--accent-color);
   inset: 5px;
   border-radius: 100%;
   opacity: 0;
   transition: var(--transition);   
}
.hero__img-button:hover:before {
   opacity: 1;
}

/* =====================SECTION===================== */


.about__inner {
   display: grid;
   grid-template-columns: 1fr 1.05fr;
   grid-template-rows: repeat(2, auto);
   gap: 40px 53px;
}
.about__img {
   border-radius: var(--borderradius);
   overflow: hidden;
   position: relative;
   grid-row: 1/-1;
}
.about__img > img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   object-position: 50% 50%;
}
.about__img-control {
   position: absolute;
   bottom: 4.7%;
   left: 5%;
   align-items: center;
   display: flex;
   gap: 10px;
   max-width: 300px;
   text-align: left;
   background: #957b97d6;
   border-radius: var(--borderradius);
   padding: 15px 20px;
   color: var(--general-bg);
}
.about__img-button {
   flex-shrink: 0;
   display: flex;
   align-items: center;
   justify-content: center;
   width: 78px;
   height: 78px;
   border-radius: 100%;
   background: #FFF9F4;
   box-shadow: 0 4px 20px 0 rgba(184, 148, 126, 0.3);
   position: relative;
}
.about__img-button::before {
   content: '';
   position: absolute;
   border: 1px solid #CEAAD0;
   inset: 5px;
   border-radius: 100%;
   opacity: 0;
   transition: var(--transition);   
}
.about__img-button:hover:before {
   opacity: 1;
}
.about__heading {
   margin-bottom: 30px;
}
.about__grid {
   display: grid;
   gap: 32px;
   grid-template-columns: repeat(2,2fr);
}
.about__grid-item {
   background: var(--accent-bg);
   border-radius: var(--borderradius);
   padding: 29px 24px;
   display: flex;
   gap: 15px;
   align-items: center;
}
.about__grid-img {
   border: 1px solid #312C27;
   border-radius: 50%;
   width: 60px;
   height: 60px;
   flex-shrink: 0;
   display: flex;
   align-items: center;
   justify-content: center;
}
/* ====================================== */
.program__top {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 60px;
   gap: 30px 15px;
}
.program__title {
   margin-bottom: 20px;
}
.program__tab-content{
   margin-bottom: 40px;
}


.program__bottom {
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: 15px;
}
.program__action {
   display: grid;
   grid-template: repeat(3, auto) / 1.65fr 1fr ;
   gap: 40px;
   max-width: 501px;
   width: 100%;
   flex-shrink: 0;
}
.program__discount {
   padding: 40px;
   font-size: 20px;
   background: var(--accent-bg);
   border-radius: var(--borderradius);
   grid-row: 1/3;
}
.program__discount-value {
   font-family: "Gabriola";
   font-size: 74px;
   line-height: .82;
   color: var(--accent-color);
   transform-origin: 0 0;
   margin: 0 0 7px 13%;

   animation: discount-grow .8s linear infinite alternate;
}
@keyframes discount-grow {
   0% {
      transform: scale(1);
      color: var(--accent-color);
   }
   100% {
      transform: translateX(3%)scale(1.1);
      color: var(--accent-bg);
   }
}
.program__discount span {
   font-size: 16px;
   margin-left: 35%;
}
.program__price {
}
.program__price-text {
   line-height: 1.6;
   text-transform: uppercase;
   color: #CEAAD0;;
}
.program__price-value {
   font-family: "Gabriola";
   font-size: 32px;
   line-height: 0.9;
}
.program__price-value--big {
   font-size: 50px;
   line-height: 0.9;
   color: var(--accent-text);
}
.program__button {
   grid-column: 1/-1;
}
.program__img img {
   width: 100%;
}

.tab-content {
   display: none;
}
.tab-content--show {
   display: block;
}

.tab__controls {
   display: flex;
   gap: 26px;
}
.tab__controls-link {
   display: block;
   background:  #fff9f4;
   border-radius: 100px;
   padding: 14px 30px;
   white-space: nowrap;
   box-shadow: 0 4px 20px 0 rgba(206, 195, 185, 0.3);

   transition: var(--transition);
}
.tab__controls-link:hover {
   background:  #ffe0cb;
}
.tab__controls-link--active{
   background:  #ffe0cb;
   box-shadow: 0 4px 20px 0 rgba(206, 195, 185, 0.3);
}



/* ==============ACARDION============== */ 
.accordion-list {
   margin-bottom: 8%;
}
.accordion-list__item {
   border-radius: var(--borderradius);
   border: 1px solid var(--accent-color);
   margin-bottom: 30px;
   transition: var(--transition);
}
.accordion-list__item:last-child {
   margin-bottom: 0;
}
.accordion-list__controle {
   padding: 40px 31px;
   width: 100%;
   background: transparent;
   text-align: left;

   display: flex;
   justify-content: space-between;
   gap: 15px;

   font-family: 'Gabriola';
   font-size: 42px;
   line-height: 0.9;
   color: var(--general-text);
   transition: var(--transition);
}
/* background: #eaeaea; */
.accordion-list__item--opened .accordion-list__controle {
   padding-bottom: 20px;
}
.accordion-list__controle-icon {
   width: 36px;
   height: 36px;
   border: 1px solid var(--accent-color);
   border-radius: 50%;
   flex-shrink: 0;
   display: flex;
   align-items: center;
   justify-content: center;

   transition: var(--transition);
}
.accordion-list__controle-icon svg {
   margin-left: 1.8px;
}
.accordion-list__controle-icon path {
   transition: var(--transition);
}

.accordion-list__controle:hover .accordion-list__controle-icon {
   background: var(--accent-color);
   transform: rotate(90deg);
}
.accordion-list__controle:hover .accordion-list__controle-icon path {
   fill: var(--general-bg);
}

.accordion-list__item--opened .accordion-list__controle-icon {
   background: var(--accent-color);
   transform: rotate(90deg);
}
.accordion-list__item--opened .accordion-list__controle-icon path {
   fill: var(--general-bg);
}
.accordion-list__content {
   max-height: 0;
   overflow: hidden;
   transition: var(--transition);
}

.accordion-content {
   padding: 0 30px 40px;
   display: flex;
   gap: 80px;
}
.accordion-content__col:first-child {
   max-width: 507px;
   width: 100%;
}
.accordion-content__title {
   text-transform: uppercase;
   color: #CEAAD0;
   line-height: 1.6;
   margin-bottom: 20px;

}
.accordion-content__list {
}
.accordion-content__item {
   margin-bottom: 20px;
   display: flex;
}
.accordion-content__item:last-child {
   margin-bottom: 0;
}
.accordion-content__icon {
   width: 24px;
   height: 24px;
   border: 1px solid #CEAAD0;
   border-radius: 50%;
   display: inline-flex;
   align-items: center;
   justify-content: center;
   margin-right: 8px;
   flex-shrink: 0;

}
.accordion-content__text {
   max-width: 274px;
}


/* ==============FOOTER============== */ 

/* ==============FOOTER============== */ 

.footer {
   color: var(--general-bg);
   background:#AB8261;
   padding: 60px 0 66px;
}
.footer__inner {
   gap: 40px 15px;
   display: grid;
   justify-content: space-between;
   grid-template-columns: .9fr .9fr 1.1fr auto;
}
.footer__col:first-child {
   margin-top: -30px;
}
.footer__logo {
   display: block;
   max-width: 240px;
}
.footer__logo img {
   width: 100%;
}
.footer__logo-text {
   margin-bottom: 20px;
}
.footer__col-list {
   margin-top: -5px;
}
.footer__col-item {
   margin-bottom: 10px;
}
.footer__col-item:last-child {
   margin-bottom: 0;
}
.footer__col-link {
   display: block;
   padding: 5px 0;
   position: relative;
   z-index: 1;
}
.footer__col-link::before {
   content: '';
   position: absolute;
   top: -8px;
   left: -8px;
   width: 34px;
   height: 34px;
   background: var(--accent-color);
   border-radius: 50%;
   z-index: -1;
   opacity: 0;
   transition: var(--transition);
}
.footer__col-link:hover:before {
   opacity: 1;
}
.footer__coontakt-list {
}
.footer__coontakt-item {
   margin-bottom: 10px;
}
.footer__coontakt-item:last-child {
   margin-bottom: 0;
}
.footer__col-tel {
   margin-bottom: 47px;
}
.footer__col-number {
   display: block;
   font-weight: 500;
   font-size: 24px;
   line-height: 1.6;
   transition: var(--transition);
}
.footer__col-number:hover {
   color: var(--accent-color);
}
.footer__col-copy {
   color: #DEC5B1;
}


.socials {
   line-height: 0;
}
.socials__list {
   display: flex;
   gap: 15px;
}
.socials__item {
}
.socials__link path {
   transition: var(--transition);
}
.socials__link:hover path {
   fill: var(--accent-color);
   
}

/* ======================================== */
/* ====================MEDIA==================== */

@media (max-width: 1200px) {
   .hero__img{
      margin: 0;
      max-width: 377px;
   }
   .hero__img-control {
      position: static;
      max-width: none;
      margin-top: 30px;
   }
   .hero__img-button {
      padding-left: 1.8%;
   }
   /* ======================================== */
   .program__top {
      flex-direction: column;
      align-items: start;
   }
   .tab__controls {
      flex-wrap: wrap;
   }

   /* ------------- */
   
   .footer__inner {
      justify-content: space-between;
      grid-template: repeat(2, auto) / repeat(3, auto);
   }
   .footer__col:last-child {
      grid-column: 1 / -1;
      text-align: center;
}
}
@media (max-width: 1100px) {
   .about__img {
      grid-row:auto;
   }
   .about__body{
      align-self: center;
   }
   .about__grid {
      grid-column:1/-1;
   }

   /* ------------- */
   .accordion-list__controle {
      padding: 25px 30px;
      font-size: 35px;
   }
   .accordion-content {
      gap: 30px;
   }
}
@media (max-width: 900px) {
   .nav {
      position: fixed;
      inset: 0;
      z-index: 10;
      background: var(--general-bg);
      padding: 26vh 15px 30px;
      font-size: 24px;
      transform: translateY(-50%);
      opacity: 0;
      visibility: hidden;
      transition: var(--transition);
   }
   .nav__list {
      flex-direction: column;
      align-items: center;
   }
   .nav__item {
   gap: 4vh 40px;
   flex-direction: column;
   align-items: center;
   }
   .body--opened-menu .nav{
      transform: translateY(0%);
      opacity: 1;
      visibility: visible;
   }
   .burger__icon{
      display: flex;
   }

   /* ======== */
   .program__img {
      display: none;
   }
   .program__action {
      max-width: none;
      grid-template: repeat(3, auto) / minmax(279px , 1fr) 1fr ;
   }
   /* ======== */
      .footer__inner {
      justify-content: center;
      grid-template: none;
      text-align: center;
      gap: 0;
   }
   .footer__col:last-child {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 40px;
   }
   .footer__col:nth-child(2) {
      margin-bottom: 40px;
   }
   .footer__col:nth-child(3) {
      margin-bottom: 10px;
   }
   .socials__list {
      justify-content: center;
   }
}
@media (max-width: 800px) {

   .hero__content {
      max-width: none;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      width: 100%;
   }

   .hero__img-button {
      padding-left: 0.8%;
   }
   .hero__img {
      display: none;
   }
   .hero__img-control--mobile{
      display: flex;
      margin: 0 0 30px;
   }

   /* =========== */
   .about__inner {
      grid-template: none;
   }
   .about__img {
      max-width: 500px;
      justify-self: center;
   }
   .about__body {
      text-align: center;
   }
   .about__grid {
      grid-template: none;
   }
   /* =========== */
   .tab__controls {
      gap: 10px;
   }
   .tab__controls__link {
      padding: 6px 20px;
   }
   .accordion-content {
      flex-direction: column;
   }
   .accordion-content__col:first-child {
      max-width: none;
   }
   .accordion-content__text {
      max-width: none;
   }
}
@media (max-width: 600px) {
   .main__about{
      padding: 60px 0 80px;
   }
   .main__program {
      margin-bottom: 20px;
   }
   .tittle {
      font-size: 12vw;
   }
/* ======= */

   .header__hero  {
      padding-bottom: 80px;

   }
   /*  ========= */

   .about__img-control{
      bottom: 0;
      left: 0;
      right: 0;
      max-width: none;
      padding: 10px 15px;
      border-radius: 0;
   }
   .about__grid{
         gap: 15px;
      }
   .about__grid-item {
      padding: 10px 15px;
   }
   /* =========== */
   .program__title {
      text-align: center;

   }
   .program__top {
      text-align: center;
      margin-bottom: 20px;
   }
   .program__action {
      max-width: none;
      grid-template: repeat(3, auto) /  auto auto ;
      gap: 15px;
   }
   .program__discount {
      grid-row: auto;
      grid-column: 1/-1;
      justify-self: center;
   }
   .tab__controls {
      justify-content: center;
   }


   /* ======= */

   .accordion-list__item {
      margin-bottom: 10px;
   }
   .accordion-list__controle {
      padding: 17px 30px;
      font-size: 28px;
   }
   .accordion-list__controle-icon {
      width: 26px;
      height: 26px;
   }
   .accordion-list__controle-icon svg {
      width: 10px;
   }

}
@media (max-width: 450px) {
   .modal__img {
      width: 50%;
      margin-top: -45px;
   }
   .modal__title {
      font-size: 35px;
   }
   .modal__window {
      padding: 0 15px 45px;
   }

   /* ====== */

   .program__action {
      grid-template:none;
   }
   .program__price {
      text-align: center;
   }
   .accordion-list__controle {
      padding: 17px 5px;
   }
   .accordion-content {
      padding: 0 15px 30px;
   }
   .accordion-list__item {
      margin-bottom: 10px;
   }
}