:root {
   --general-text:#1F1711;
   --accent-text:#312C27;
   --general-bg:#FFF9F4;
   --accent-bg: #FFE0CB;
   --accent-color: #FFA55C;
}

.body {
   font-family:  "Montserrat";
   font-family: "Montserrat" Arial, sans-serif ;
   line-height: 1.5;
   font-size: 16px;
   color: var(--general-text);
   background: var(--general-bg);
}
.body--opened-menu{
   overflow: hidden;
}
.wrapper {
   min-height: 100%;
   width: 100%;
   overflow: hidden;
   display: flex;
   flex-direction: column;
}
.main {
   flex-grow: 1;
}
.container {
   max-width: 1310px;
   margin: 0 auto;
   padding: 0 15px;
   height: 100%;
}

.button{
   justify-content: center;
   align-items: center;
   display: flex;
   background: var(--accent-color);
   font-size: 16px;
   font-weight: 500;
   line-height: 1.6;
   border-radius: 100px;
   padding: 3px 15px;
   height: 62px;
}
.button:hover{
   background: #FF9138;
}
/* ======================================== */
.header{
   background: url(../img/decor/header.png) 50% 100%/ cover no-repeat;
}
.header__top {
   padding-top: 19px;
}
.header__top-inner {
   display: flex;
   justify-content: space-between;
   align-items: flex-end;
}
.header__logo{
   max-width: 174px;
   z-index: 11;
}
.header__logo img{
   width: 100%;
}

.nav__list {
   display: flex;
   gap: 4vh 40px;
}
.nav__item {
   display: flex;
   gap: 4vh 40px;
   
}
.nav__link {
   padding: 5px 0;
   display: block;
   position: relative;
   z-index: 1;
}
.nav__link::before {
   content: '';
   position: absolute;
   top: -8px;
   left: -8px;
   width: 34px;
   height: 34px;
   background: var(--accent-color);
   border-radius: 50%;
   z-index: -1;
   opacity: 0;
   transition: all .4s;
}
.nav__link:hover:before {
   opacity: 1;
}

.burger__icon{
   display: none;
   width: 50px;
   height: 50px;
   align-items: center;
   justify-content: center;
   z-index: 11;
   
}
.burger__icon span,
.burger__icon span::before,
.burger__icon span::after { 
   display: block;
   width: 30px;
   height: 3px;
   border-radius: 100px;
   background-color: var(--general-text);
   transition: all .4s ;
}
.burger__icon span {
   position: relative;
}

.burger__icon span::before,
.burger__icon span::after {
   content: '';
   position: absolute;
}
.burger__icon span::before {
   top: -8px;
}
.burger__icon span::after {
   bottom: -8px;
}
.body--opened-menu .burger__icon span {
   background-color: transparent;
}
.body--opened-menu .burger__icon span::before {
   transform: rotate(45deg);
   top: 0;
}
.body--opened-menu .burger__icon span::after {
   top: 0;
   transform: rotate(-45deg);
}
/* ====================================== */

.hero {
   padding: 50px 0 140px;
}
.hero__inner {
   display: flex;
   justify-content: space-between;
   align-items: flex-end;
   gap: 30px;
}
.hero__content {
   max-width: 519px;
}
.hero__info {
   color: #B197B2;
   margin-bottom: 20px;
   text-transform: uppercase;
   line-height: 1.6;

   display: flex;
   flex-wrap: wrap;
}
.hero__info span {
display: flex;
align-items: center;
font-family: var(--font-family);
font-weight: 400;
font-size: 16px;
line-height: 160%;
text-transform: uppercase;
color: #b197b2;
}

.hero__info span::after {
   content: '';
   background-color: #B197B2;
   border-radius: 50px;
   width: 4px;
   height: 4px;
   margin: 0 10px;

}
.hero__info span:last-child:after {
   content: none;
}
.hero__tittle {
   font-family: "Gabriola";
   font-style: normal;
   font-weight: 400;
   font-size: 72px;
   line-height: 82%;
   margin-bottom: 30px;
}
.hero__text {
   margin-bottom: 40px;
   max-width: 358px;
   font-family: var(--font-family);
   font-weight: 400;
   font-size: 16px;
   line-height: 150%;
   color: var(--nabornyy);

}
.hero__button {
   max-width: 360px;
   width: 100%;
}
.hero__img {
   margin-right: 247px;
   position: relative;
}
.hero__img>img {
   width: 100%;
}
.hero__img-control {
   position: absolute;
   bottom: 11%;
   left: calc(100% - 9.7%);
   align-items: center;
   display: flex;
   gap: 10px;
   max-width: 200px;
   min-width: 200px;
   text-align: left;
}

.hero__img-control--mobile{
   display: none;
}
.hero__img-button {
   padding-left: 2.8%;
   flex-shrink: 0;
   display: flex;
   align-items: center;
   justify-content: center;
   width: 78px;
   height: 78px;
   border-radius: 100%;
   background: #FFE0CB;
   box-shadow: 0 4px 20px 0 rgba(184, 148, 126, 0.3);
   position: relative;
}
.hero__img-button img {
   padding-left: 3%;
}
.hero__img-button::before {
   content: '';
   position: absolute;
   border: 1px solid var(--accent-color);
   inset: 5px;
   border-radius: 100%;
   opacity: 0;
   transition: all .4s;   
}
.hero__img-button:hover:before {
   opacity: 1;
}
/* ======================================== */

@media (max-width: 1200px) {
   .hero__img{
      margin: 0;
      max-width: 377px;
   }
   .hero__img-control {
      position: static;
      max-width: none;
      margin-top: 30px;
   }
   .hero__img-button {
      padding-left: 1.8%;
   }
}
@media (max-width: 900px) {
   .nav {
      position: fixed;
      inset: 0;
      z-index: 10;
      background: var(--general-bg);
      padding: 26vh 15px 30px;
      font-size: 24px;
      transform: translateY(-50%);
      opacity: 0;
      visibility: hidden;
      transition: all .4s;
   }
   .nav__list {
      flex-direction: column;
      align-items: center;
   }
   .nav__item {
   gap: 4vh 40px;
   flex-direction: column;
   align-items: center;
   }
   .body--opened-menu .nav{
      transform: translateY(0%);
      opacity: 1;
      visibility: visible;
   }
   .burger__icon{
      display: flex;
   }
}
@media (max-width: 800px) {

   .hero__content {
      max-width: none;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      width: 100%;
   }

   .hero__img-button {
      padding-left: 0.8%;
   }
   .hero__img {
      display: none;
   }
   .hero__img-control--mobile{
      display: flex;
      margin: 0 0 30px;
   }
}
@media (max-width: 600px) {
   .hero {
      padding-bottom: 80px;

   }
   .hero__tittle {
      font-size: 12vw;
   }
}