body {
   background-color: rgb(59, 57, 57);
}

.white {
   position: fixed;
   right: +20px;
   top: 685px;
   width: 50%;
   height: 100px;
   background-color: rgb(205, 190, 190);
   text-align: center;
   border-radius: 12px;
}
.red {
   position: fixed;
   width: 100px;
   height: 100px;
   background-color: red;
   margin: 0 auto;
   border-radius: 50px;
   top: 640px;
   right: 590px;
}
.text {
   font-size: 16px;
   color: rgb(244, 241, 234);
}