
header {
   background-color: #cd740f9c;
   padding: 20px;
   text-align: center;
}
.nav-wrapper {
   display: flex;
   justify-content: start;
   gap: 20px;
   color:black
}
a {
   color: black;
}
.sitat {
   margin: 20px 0;
   padding: 10px;
   background-color: #f5e8ce;
}
footer {
   background-color: hwb(273 0% 32% / 0.612);
   padding: 20px;
   height: 300px;
   position: relative;
   bottom: 0;
   width: 100%;
}