:root {
   --general-text:#1F1711;
   --accent-text:#312C27;
   --general-bg:#FFF9F4;
   --accent-bg: #FFE0CB;
   --accent-color: #FFA55C;
   --transition: all .4s;
   --borderradius: 20px;
}

.body {
   font-family: "Montserrat", Arial, sans-serif ;
   line-height: 1.5;
   font-size: 16px;
   color: var(--general-text);
   background: var(--general-bg);
}
.body--opened-menu{
   overflow: hidden;
}
.body--opened-modal{
   overflow: hidden;
}
.wrapper {
   min-height: 100%;
   width: 100%;
   overflow: hidden;
   display: flex;
   flex-direction: column;
}
.main {
   flex-grow: 1;
}
.main__about {
   padding: 140px 0;
}
.main__program,
.main__gallery {
   padding-bottom: 145px;
}
.container {
   max-width: 1310px;
   margin: 0 auto;
   padding: 0 15px;
   height: 100%;
}
.title {
   font-family: "Gabriola";
   font-size: 72px;
   line-height: 0.82;
   color: var(--general-text);
}
.button{
   width: 100%;
   justify-content: center;
   align-items: center;
   display: flex;
   background: var(--accent-color);
   font-size: 16px;
   font-weight: 500;
   line-height: 1.6;
   border-radius: 100px;
   padding: 3px 15px;
   height: 62px;
}
.button:hover{
   background: #FF9138;
}

.modal {
   position: fixed;
   inset: 0;
   background-color: #00000058;
   z-index: 10;

   display: flex;
   align-items: center;
   justify-content: center;

   opacity: 0;
   visibility: hidden;
   transition: all .6s;
   padding: 15px;
}
.body--opened-modal .modal {
   opacity: 1;
   visibility: visible;
}
.modal__window {
   position: relative;
   background-color: var(--general-bg);
   border-radius: var(--borderradius);
   padding: 0 60px 60px;
   max-width: 428px;

}
.modal__cancel {
   position: absolute;
   top: 20px;
   right: 20px;
}
.modal__cancel path {
   transition: var(--transition);
}
.modal__cancel:hover path,
.modal__cancel:hover rect {
   stroke: #AC907A;
}
.modal__img {
   margin: -65px 0 15px 13px;
}
.modal__title {
   font-Family: "Gabriola";
   font-size: 42px;
   line-height: .90;
   color: var(--accent-text);
   margin-bottom: 10px;
}
.modal__text {
   margin-bottom: 30px;
}
.modal__form-lable {
   margin-bottom: 10px;
}
.field {
   position: relative;
   display: block;
}
.field span {
   position: absolute;
   top: 12px;
   left: 28px;
   font-size: 11px;
   color: #Ac907a;

   opacity: 0;
   visibility: hidden;
   transition: var(--transition);
}
.field__input {
   border: 1px solid var(--accent-text);
   border-radius: 100px;
   padding: 19px 42px 19px 28px;
   width: 100%;
   display: block;
   background: #00000000;
   font-size: 16px;
   transition: var(--transition);
}
.field__input:hover {
   border-color: var(--accent-color);
}
.field__input::placeholder {
   color: #Ac907a;
   transition: var(--transition);
}
.field__input:hover::placeholder {
   color: var(--accent-color);
}

.field__input:focus {
   padding: 26px 42px 12px 28px;
}
.field__input:focus + span {
   opacity: 1;
   visibility: visible;
}
