/* ===================HEADER===================== */

.header{
   background: url(../img/decor/header.png) 50% 100%/ cover no-repeat;
}
.header__top {
   padding-top: 19px;
}
.header__top-inner {
   display: flex;
   justify-content: space-between;
   align-items: flex-end;
}
.header__logo{
   max-width: 174px;
   z-index: 11;
}
.header__logo img{
   width: 100%;
}

.nav__list {
   display: flex;
   gap: 4vh 40px;
}
.nav__item {
   display: flex;
   gap: 4vh 40px;
   
}
.nav__link {
   padding: 5px 0;
   display: block;
   position: relative;
   z-index: 1;
}
.nav__link::before {
   content: '';
   position: absolute;
   top: -8px;
   left: -8px;
   width: 34px;
   height: 34px;
   background: var(--accent-color);
   border-radius: 50%;
   z-index: -1;
   opacity: 0;
   transition: var(--transition);
}
.nav__link:hover:before {
   opacity: 1;
}

.burger__icon{
   display: none;
   width: 50px;
   height: 50px;
   align-items: center;
   justify-content: center;
   z-index: 11;
   
}
.burger__icon span,
.burger__icon span::before,
.burger__icon span::after { 
   display: block;
   width: 30px;
   height: 3px;
   border-radius: 100px;
   background-color: var(--general-text);
   transition: var(--transition) ;
}
.burger__icon span {
   position: relative;
}

.burger__icon span::before,
.burger__icon span::after {
   content: '';
   position: absolute;
}
.burger__icon span::before {
   top: -8px;
}
.burger__icon span::after {
   bottom: -8px;
}
.body--opened-menu .burger__icon span {
   background-color: transparent;
}
.body--opened-menu .burger__icon span::before {
   transform: rotate(45deg);
   top: 0;
}
.body--opened-menu .burger__icon span::after {
   top: 0;
   transform: rotate(-45deg);
}
.header__hero {
   padding: 50px 0 140px;
}
/* ====================================== */


.hero__inner {
   display: flex;
   justify-content: space-between;
   align-items: flex-end;
   gap: 30px;
}
.hero__content {
   max-width: 519px;
}
.hero__info {
   color: #B197B2;
   margin-bottom: 20px;
   text-transform: uppercase;
   line-height: 1.6;

   display: flex;
   flex-wrap: wrap;
}
.hero__info span {
display: flex;
align-items: center;
font-family: var(--font-family);
font-weight: 400;
font-size: 16px;
line-height: 160%;
text-transform: uppercase;
color: #b197b2;
}

.hero__info span::after {
   content: '';
   background-color: #B197B2;
   border-radius: 50px;
   width: 4px;
   height: 4px;
   margin: 0 10px;

}
.hero__info span:last-child:after {
   content: none;
}
.hero__title {
   margin-bottom: 30px;
}
.hero__text {
   margin-bottom: 40px;
   max-width: 358px;
   font-family: var(--font-family);
   font-weight: 400;
   font-size: 16px;
   line-height: 150%;
   color: var(--accent-text);

}
.hero__button {
   max-width: 360px;
   width: 100%;
}
.hero__img {
   margin-right: 247px;
   position: relative;
}
.hero__img>img {
   width: 100%;
}
.hero__img-control {
   position: absolute;
   bottom: 11%;
   left: calc(100% - 39px);
   align-items: center;
   display: flex;
   gap: 10px;
   min-width: 200px;
   text-align: left;
}

.hero__img-control--mobile{
   display: none;
}
.hero__img-button {
   flex-shrink: 0;
   display: flex;
   align-items: center;
   justify-content: center;
   width: 78px;
   height: 78px;
   border-radius: 100%;
   background: #FFE0CB;
   box-shadow: 0 4px 20px 0 rgba(184, 148, 126, 0.3);
   position: relative;
}
.hero__img-button img {
   padding-left: 8.8%;
}
.hero__img-button::before {
   content: '';
   position: absolute;
   border: 1px solid var(--accent-color);
   inset: 5px;
   border-radius: 100%;
   opacity: 0;
   transition: var(--transition);   
}
.hero__img-button:hover:before {
   opacity: 1;
}