@import "fonts.css";
@import "reset.css";
@import "global.css";

@import "header.css";
@import "footer.css";


.about__inner {
   display: grid;
   grid-template-columns: 1fr 1.05fr;
   grid-template-rows: repeat(2, auto);
   gap: 40px 53px;
}
.about__img {
   border-radius: var(--borderradius);
   overflow: hidden;
   position: relative;
   grid-row: 1/-1;
}
.about__img > img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   object-position: 50% 50%;
}
.about__img-control {
   position: absolute;
   bottom: 4.7%;
   left: 5%;
   align-items: center;
   display: flex;
   gap: 10px;
   max-width: 300px;
   text-align: left;
   background: #957b97d6;
   border-radius: var(--borderradius);
   padding: 15px 20px;
   color: var(--general-bg);
}
.about__img-button {
   flex-shrink: 0;
   display: flex;
   align-items: center;
   justify-content: center;
   width: 78px;
   height: 78px;
   border-radius: 100%;
   background: #FFF9F4;
   box-shadow: 0 4px 20px 0 rgba(184, 148, 126, 0.3);
   position: relative;
}
.about__img-button::before {
   content: '';
   position: absolute;
   border: 1px solid #CEAAD0;
   inset: 5px;
   border-radius: 100%;
   opacity: 0;
   transition: var(--transition);   
}
.about__img-button:hover:before {
   opacity: 1;
}
.about__heading {
   margin-bottom: 30px;
}
.about__grid {
   display: grid;
   gap: 32px;
   grid-template-columns: repeat(2,2fr);
}
.about__grid-item {
   background: var(--accent-bg);
   border-radius: var(--borderradius);
   padding: 29px 24px;
   display: flex;
   gap: 15px;
   align-items: center;
}
.about__grid-img {
   border: 1px solid #312C27;
   border-radius: 50%;
   width: 60px;
   height: 60px;
   flex-shrink: 0;
   display: flex;
   align-items: center;
   justify-content: center;
}
/* ====================================== */
.program__top {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 60px;
   gap: 30px 15px;
}
.program__title {
   margin-bottom: 20px;
}
.program__tab-content{
   margin-bottom: 40px;
}


.program__bottom {
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: 15px;
}
.program__action {
   display: grid;
   grid-template: repeat(3, auto) / 1.65fr 1fr ;
   gap: 40px;
   max-width: 501px;
   width: 100%;
   flex-shrink: 0;
}
.program__discount {
   padding: 40px;
   font-size: 20px;
   background: var(--accent-bg);
   border-radius: var(--borderradius);
   grid-row: 1/3;
}
.program__discount-value {
   font-family: "Gabriola";
   font-size: 74px;
   line-height: .82;
   color: var(--accent-color);
   transform-origin: 0 0;
   margin: 0 0 7px 13%;

   animation: discount-grow .8s linear infinite alternate;
}
@keyframes discount-grow {
   0% {
      transform: scale(1);
      color: var(--accent-color);
   }
   100% {
      transform: translateX(3%)scale(1.1);
      color: var(--accent-bg);
   }
}
.program__discount span {
   font-size: 16px;
   margin-left: 35%;
}
.program__price {
}
.program__price-text {
   line-height: 1.6;
   text-transform: uppercase;
   color: #CEAAD0;;
}
.program__price-value {
   font-family: "Gabriola";
   font-size: 32px;
   line-height: 0.9;
}
.program__price-value--big {
   font-size: 50px;
   line-height: 0.9;
   color: var(--accent-text);
}
.program__button {
   grid-column: 1/-1;
}
.program__img img {
   width: 100%;
}

.tab-content {
   display: none;
}
.tab-content--show {
   display: block;
}

.tab__controls {
   display: flex;
   gap: 26px;
}
.tab__controls-link {
   display: block;
   background:  #fff9f4;
   border-radius: 100px;
   padding: 14px 30px;
   white-space: nowrap;
   box-shadow: 0 4px 20px 0 rgba(206, 195, 185, 0.3);

   transition: var(--transition);
}
.tab__controls-link:hover {
   background:  #ffe0cb;
}
.tab__controls-link--active{
   background:  #ffe0cb;
   box-shadow: 0 4px 20px 0 rgba(206, 195, 185, 0.3);
}



/* ==============ACARDION============== */ 
.accordion-list {
   margin-bottom: 8%;
}
.accordion-list__item {
   border-radius: var(--borderradius);
   border: 1px solid var(--accent-color);
   margin-bottom: 30px;
   transition: var(--transition);
}
.accordion-list__item:last-child {
   margin-bottom: 0;
}
.accordion-list__controle {
   padding: 40px 31px;
   width: 100%;
   background: transparent;
   text-align: left;

   display: flex;
   justify-content: space-between;
   gap: 15px;

   font-family: 'Gabriola';
   font-size: 42px;
   line-height: 0.9;
   color: var(--general-text);
   transition: var(--transition);
}
/* background: #eaeaea; */
.accordion-list__item--opened .accordion-list__controle {
   padding-bottom: 20px;
}
.accordion-list__controle-icon {
   width: 36px;
   height: 36px;
   border: 1px solid var(--accent-color);
   border-radius: 50%;
   flex-shrink: 0;
   display: flex;
   align-items: center;
   justify-content: center;

   transition: var(--transition);
}
.accordion-list__controle-icon svg {
   margin-left: 1.8px;
}
.accordion-list__controle-icon path {
   transition: var(--transition);
}

.accordion-list__controle:hover .accordion-list__controle-icon {
   background: var(--accent-color);
   transform: rotate(90deg);
}
.accordion-list__controle:hover .accordion-list__controle-icon path {
   fill: var(--general-bg);
}

.accordion-list__item--opened .accordion-list__controle-icon {
   background: var(--accent-color);
   transform: rotate(90deg);
}
.accordion-list__item--opened .accordion-list__controle-icon path {
   fill: var(--general-bg);
}
.accordion-list__content {
   max-height: 0;
   overflow: hidden;
   transition: var(--transition);
}

.accordion-content {
   padding: 0 30px 40px;
   display: flex;
   gap: 80px;
}
.accordion-content__col:first-child {
   max-width: 507px;
   width: 100%;
}
.accordion-content__title {
   text-transform: uppercase;
   color: #CEAAD0;
   line-height: 1.6;
   margin-bottom: 20px;

}
.accordion-content__list {
}
.accordion-content__item {
   margin-bottom: 20px;
   display: flex;
}
.accordion-content__item:last-child {
   margin-bottom: 0;
}
.accordion-content__icon {
   width: 24px;
   height: 24px;
   border: 1px solid #CEAAD0;
   border-radius: 50%;
   display: inline-flex;
   align-items: center;
   justify-content: center;
   margin-right: 8px;
   flex-shrink: 0;

}
.accordion-content__text {
   max-width: 274px;
}



/* ========================================== */


.gallery {}

.gallery__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
    margin-bottom: 40px;
}

.gallery__img {
    justify-self: center;
    align-self: center;
}

.gallery__img img {
    max-width: 100%;
}

.gallery__content {
    display: flex;
    align-items: end;
    justify-content: space-between;
    gap: 30px 15px;
}

.gallery__info {
    max-width: 380px;
}

.gallery__title {
    margin-bottom: 20px;
}

.gallery__text {}

.gallery__nav {
      display: flex;
      align-items: center;
      gap: 98px;
      font-family: 'Gabriola';
      font-size: 42px;
      line-height: .9;
      position: relative;
}


.gallery__prev,
.gallery__next {
      background: transparent;
      cursor: pointer;
      border: 1.5px solid var(--accent-color);
      border-radius: 50%;
      flex-shrink: 0;
      width: 36px;
      height: 36px;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: var(--transition);
}
.swiper-button-disabled.gallery__prev,
.swiper-button-disabled.gallery__next {
   border: 1.5px solid #e1d9e1;
   cursor: auto;

}
.swiper-button-disabled.gallery__prev path,
.swiper-button-disabled.gallery__next path {
   fill: #e1d9e1;
}
.swiper-button-disabled.gallery__prev:hover,
.swiper-button-disabled.gallery__next:hover {
   background: transparent;
}
.swiper-button-disabled.gallery__prev:hover path,
.swiper-button-disabled.gallery__next:hover path {
   fill:  #e1d9e1;
}


.gallery__prev path,
.gallery__next path {
   transition: var(--transition);
}

.gallery__prev:hover,
.gallery__next:hover {
   background: var(--accent-color);
}

.gallery__prev:hover path,
.gallery__next:hover path {
   fill: var(--general-bg);
}
.gallery__pagination {
      display: flex;
      position: absolute;
      top: 50%;
      left: 50%;
      bottom: auto;
      width: auto;
      transform: translate(-50%, -50%);
}

.gallery__slide {
      border-radius: var(--borderradius);
      overflow: hidden;
}
.gallery__slide img {
   width: 100%;
}
/* ========================================== */

.tesstimonials__inner {
   display: flex;
   align-items: end;
   justify-content: space-between;
   margin-bottom: 40px;
}
.tesstimonials__info {
   max-width: 632px;
}
.tesstimonials__title {
   margin-bottom: 20px;
}
.tesstimonials__nav {
      display: flex;
      align-items: center;
      gap: 30px;
}


.tesstimonials__prev,
.tesstimonials__next {
      background: transparent;
      cursor: pointer;
      border: 1.5px solid var(--accent-color);
      border-radius: 50%;
      flex-shrink: 0;
      width: 36px;
      height: 36px;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: var(--transition);
}
.swiper-button-disabled.tesstimonials__prev,
.swiper-button-disabled.tesstimonials__next {
   border: 1.5px solid #e1d9e1;
   cursor: auto;

}
.swiper-button-disabled.tesstimonials__prev path,
.swiper-button-disabled.tesstimonials__next path {
   fill: #e1d9e1;
}
.swiper-button-disabled.tesstimonials__prev:hover,
.swiper-button-disabled.tesstimonials__next:hover {
   background: transparent;
}
.swiper-button-disabled.tesstimonials__prev:hover path,
.swiper-button-disabled.tesstimonials__next:hover path {
   fill:  #e1d9e1;
}


.tesstimonials__prev path,
.tesstimonials__next path {
   transition: var(--transition);
}

.tesstimonials__prev:hover,
.tesstimonials__next:hover {
   background: var(--accent-color);
}

.tesstimonials__prev:hover path,
.tesstimonials__next:hover path {
   fill: var(--general-bg);
}

.tesstimonials__slider {
   overflow: visible;
}


.tesstimonials__slide {
   border-radius: var(--borderradius);
   background: var(--accent-bg);
   padding: 30px 30px 40px;
   display: flex;
   gap: 30px;
   transform: scale(.9);
   transition: var(--transition);
   opacity: 0;
   height: auto;
}
.swiper-slide-prev.tesstimonials__slide,
.swiper-slide-next.tesstimonials__slide {
   opacity: 0.5;
}
.tesstimonials__slide.swiper-slide {
   transform: scale(.89);
}
.swiper-slide-active.tesstimonials__slide {
   transform: scale(1);
   opacity: 1;
}
.tesstimonials__wrapper {
   margin-bottom: 40px;
}
.tesstimonials__student {
   max-width: 165px;
   width: 100%;
   flex-shrink: 0;
   text-align: center;
}
.tesstimonials__student-img  {
   border-radius: var(--borderradius);
   overflow: hidden;
   margin-bottom: 20px;
}
.tesstimonials__student-img img  {
   width: 100%;
}
.tesstimonials__student-name {
   line-height: 1.6;
   text-transform: uppercase;
   margin-bottom: 5px;
   color: var(--accent-text);
}
.tesstimonials__student-inst {
   margin: 0 auto;
   color: #CEAAD0;
}

.tesstimonials__quote span {
   display: block;
   font-family: "Gabriola";
   line-height: 0.9;
   font-size: 32px;
   color: var(--accent-text);
   margin-bottom: 10px;
}
.tesstimonials__scrollbar{
   background: var(--accent-bg);
}

.tesstimonials__scrollbar.swiper-scrollbar {
   position: static;
   width: 100%;
   height: 7px;
}
.tesstimonials__scrollbar .swiper-scrollbar-drag {
   background: var(--accent-color);
}

/* ========================================== */
/* ========================================== */
/* ========================================== */

/* ====================MEDIA==================== */

@media (max-width: 1200px) {
   .hero__img{
      margin: 0;
      max-width: 377px;
   }
   .hero__img-control {
      position: static;
      max-width: none;
      margin-top: 30px;
   }
   .hero__img-button {
      padding-left: 1.8%;
   }
   /* ======================================== */
   .program__top {
      flex-direction: column;
      align-items: start;
   }
   .tab__controls {
      flex-wrap: wrap;
   }

   /* ------------- */
   
   .footer__inner {
      justify-content: space-between;
      grid-template: repeat(2, auto) / repeat(3, auto);
   }
   .footer__col:last-child {
      grid-column: 1 / -1;
      text-align: center;
}
}
@media (max-width: 1100px) {
   .about__img {
      grid-row:auto;
   }
   .about__body{
      align-self: center;
   }
   .about__grid {
      grid-column:1/-1;
   }

   /* ------------- */
   .accordion-list__controle {
      padding: 25px 30px;
      font-size: 35px;
   }
   .accordion-content {
      gap: 30px;
   }
}
@media (max-width: 900px) {
   .nav {
      position: fixed;
      inset: 0;
      z-index: 10;
      background: var(--general-bg);
      padding: 26vh 15px 30px;
      font-size: 24px;
      transform: translateY(-50%);
      opacity: 0;
      visibility: hidden;
      transition: var(--transition);
   }
   .nav__list {
      flex-direction: column;
      align-items: center;
   }
   .nav__item {
   gap: 4vh 40px;
   flex-direction: column;
   align-items: center;
   }
   .body--opened-menu .nav{
      transform: translateY(0%);
      opacity: 1;
      visibility: visible;
   }
   .burger__icon{
      display: flex;
   }

   /* ======== */
   .program__img {
      display: none;
   }
   .program__action {
      max-width: none;
      grid-template: repeat(3, auto) / minmax(279px , 1fr) 1fr ;
   }
   /* ======== */
   .gallery__inner {
      grid-template: none;
   }
   .gallery__info {
      max-width: none;
   }

   .gallery__img {
      display: none;

   }

   /* ======== */
      .footer__inner {
      justify-content: center;
      grid-template: none;
      text-align: center;
      gap: 0;
   }
   .footer__col:first-child {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 40px;
   }
   .footer__col:nth-child(2) {
      margin-bottom: 40px;
   }
   .footer__col:nth-child(3) {
      margin-bottom: 10px;
   }
   .socials__list {
      justify-content: center;
   }
}
@media (max-width: 800px) {

   .hero__content {
      max-width: none;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      width: 100%;
   }

   .hero__img-button {
      padding-left: 0.8%;
   }
   .hero__img {
      display: none;
   }
   .hero__img-control--mobile{
      display: flex;
      margin: 0 0 30px;
   }

   /* =========== */
   .about__inner {
      grid-template: none;
   }
   .about__img {
      max-width: 500px;
      justify-self: center;
   }
   .about__body {
      text-align: center;
   }
   .about__grid {
      grid-template: none;
   }
   /* =========== */
   .tab__controls {
      gap: 10px;
   }
   .tab__controls__link {
      padding: 6px 20px;
   }
   .accordion-content {
      flex-direction: column;
   }
   .accordion-content__col:first-child {
      max-width: none;
   }
   .accordion-content__text {
      max-width: none;
   }

   /* ++=========================++ */
   .tesstimonials__inner {
      align-items: stretch;
      flex-direction: column;
   }
   .tesstimonials__nav {
      align-self: end;
      margin-top: 20px;
   }
   .tesstimonials__scrollbar.swiper-scrollbar {
      width: 50%;
      margin: 0 auto;
   }



}
@media (max-width: 600px) {
   .main__about{
      padding: 60px 0 80px;
   }
   .main__program,
   .main__gallery,
   .main__testimomials {
      padding: 0 0 80px;
   }
   .title {
      font-size: 12vw;
   }
/* ======= */

   .header__hero  {
      padding-bottom: 80px;

   }
   /*  ========= */

   .about__img-control{
      bottom: 0;
      left: 0;
      right: 0;
      max-width: none;
      padding: 10px 15px;
      border-radius: 0;
   }
   .about__grid{
         gap: 15px;
      }
   .about__grid-item {
      padding: 10px 15px;
   }
   /* =========== */
   .program__title {
      text-align: center;

   }
   .program__top {
      text-align: center;
      margin-bottom: 20px;
   }
   .program__action {
      max-width: none;
      grid-template: repeat(3, auto) /  auto auto ;
      gap: 15px;
   }
   .program__discount {
      grid-row: auto;
      grid-column: 1/-1;
      justify-self: center;
   }
   .tab__controls {
      justify-content: center;
   }


   /* ======= */

   .accordion-list__item {
      margin-bottom: 10px;
   }
   .accordion-list__controle {
      padding: 17px 30px;
      font-size: 28px;
   }
   .accordion-list__controle-icon {
      width: 26px;
      height: 26px;
   }
   .accordion-list__controle-icon svg {
      width: 10px;
   }
   /* =========== */
   .gallery__content {
      flex-direction: column;
   }
   .gallery__inner{
      margin-bottom: 20px;
   }
   /* ===================== */

   .tesstimonials__inner {
      margin-bottom: 20px;
   }
   .tesstimonials__slide {
      align-items: center;
      flex-direction: column;
      text-align: center;
   }
}
@media (max-width: 450px) {
   .modal__img {
      width: 50%;
      margin-top: -45px;
   }
   .modal__title {
      font-size: 35px;
   }
   .modal__window {
      padding: 0 15px 45px;
   }

   /* ====== */

   .program__action {
      grid-template:none;
   }
   .program__price {
      text-align: center;
   }
   .accordion-list__controle {
      padding: 17px 5px;
   }
   .accordion-content {
      padding: 0 15px 30px;
   }
   .accordion-list__item {
      margin-bottom: 10px;
   }
   /* =============== */
   .tesstimonials__slide {
      padding: 30px 10px 30px;
   }
}
